<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h3 style="color:dodgerblue;text-justify: center;">Cricket Teams</h3>
    </div>
    <div class="col-4"><button style="float:right" class="btn btn-success" (click)="openFixtureModal()">Generate Team
        Fixture</button></div>
  </div><br><br>
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Team</th>
        <th>Logo</th>
        <th>Club</th>
        <th style="text-align: center;">Details</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let team of teamDetails">
        <td>{{team.id}}</td>
        <td>{{team.teamName}}</td>
        <!-- <td>{{team.logoUri}}</td> -->
        <td *ngIf="team.teamName=='India'"><img src="../assets/India.png" height="20"></td>
        <td *ngIf="team.teamName == 'Pakistan'"><img src="../assets/Pakistan.png" height="20"></td>
        <td>{{team.clubState}}</td>
        <td class="info" (click)="openModal(team)"><i class="fa fa-info-circle"></i></td>
      </tr>

    </tbody>
  </table>
</div>


<div class="modal" id="teamdetails" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Team {{selectedTeam}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <th class="text-center">Players</th>
          <tbody>
            <tr class="text-center" *ngFor="let player of playerDetails">
              <td>
                {{player.firstName}} {{player.lastName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="fixtureModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Fixtures</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="fixtureCount" placeholder="Enter Number of Fixtures"
            name="fixture" ngmodel>
        </div>
        <table class="table table-bordered" *ngIf="fixtureDetails">
          <thead>
            <th class="text-center">Team</th>
            <th class="text-center">Opponent</th>
          <tbody>
            <tr class="text-center" *ngFor="let fixture of fixtureDetails">
              <td>{{fixture[0]}}</td>
              <td>{{fixture[1]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="generateFixtures()">Generate</button>
      </div>
    </div>
  </div>
</div>